body {
  padding: 0px;
  margin: 0px;
}

#topbar {
  align-content: center;
  overflow: hidden;
  height: 50px;
  width: auto;
  margin-left: 0px;
  transition: 0.5s;
  background-color: red;
  border-bottom-color: lightblue;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#sidenav-toggle-btn {
  margin-left: 0px;
}

.route-name {
  display: inline;
  margin: 10px;
}

.account-btn {
  /* display: inline-block; */
  float: right;
}

#sidenavbar {
  position: absolute;
  min-height: 100vh !important;
  height: 100%;
  width: 0px;
  /* z-index: 1; */
  background-color: #252011;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 0px;
  transition: 0.5s;
}

.sidenav .dp-tag {
  color: white;
  font-size: 30px;
  text-align: center;
}

.sidenav .dp {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  padding: 5px 5px;
  border-style: solid;
  /* border-radius: 300px; */
}

#main {
  transition: .5s;
  /* padding: 20px; */
  margin-top: 50px;
  margin-left: 50px;  
  margin-right: 50px;
}

.btn {
  cursor: pointer;
  outline: none;
}

.icon-btn {
  background-color: white;
  border: none;
  color: gray;
  padding: 10px 14px;
}

.icon-btn:hover {
  background-color: gray;
  color: white;
}

#home-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

#sidenavbar .route a{
  color: white;
  outline: none;
}

#sidenavbar .route a:hover {
  color: grey;
}

#sidenavbar .route {
  display: block;
  background-color: transparent;
  /* background-color: #464f0d; */
  /* border-radius: 5px; */
  /* margin: 5px; */
  /* height: 10px; */
}

.accordion {
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.root-panel {
  padding: 0px;
  background-color: #46402f;
  border-radius: 5px;
  /* display: block; */
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.search-field {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-decoration-color:grey;
  border-color: lightblue;
  border-style: solid;
  border-width: 2px;
}

.submit-btn {
  padding: 8px 20px;
  background-color: #328ee4;
  border: 1px solid #328ee4;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #328ee4a4;
} 

.display-container {
  padding: 20px 0px;
}

.doctor-tile {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: red;
  border-radius: 20px;
  cursor: pointer;
}

.doctor-tile:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
  background-color: green;
}

.top-row{
  display: flex;
}

.tile-dp {
  flex: 25%,
}

.doctor-dp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: blue;
  padding: 5px;
  border-width: 3px;
  border-style: solid;
}

.about-doctor {
  flex: 80%;
  margin: 10px; /* top, right, bottom, left */
  background-color: yellow;
}

.appointment-btn {
  flex: 10%;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

.tile-btn {
  padding: 8px 10px;
  background-color: #8dc731;
  color: white;
  font-size: 15px;
}

.about-qual-div {
  margin: 10px 50px;
}

.doctor-qualifications {
  display: block;
  background-color: green;
  margin-top: 10px;
}

.auth-form {
  width: 50%;
	display: block;
	overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 2px blue solid;
  border-radius: 5px;
  padding: 2%;
	justify-content: center;
}

.auth-form label, .auth-form input {
	display: block;
	width: 100%;
}

.auth-form input {
	margin-bottom: 15px;
}

.auth-form label {
	margin-right: 10px;
}

.auth-form input[type=text] {
	border: 2px solid #01d1d1;
	border-radius: 5px;
	transition: 0.5s;
}
.auth-form input[type=text]:focus {
	border: 2px #01d1d1 solid;
	border-radius: 5px;
}

.auth-form .form-actions {
	display: flex;
}

.auth-form .form-actions button{
	margin-right: 5px;
	background-color: red;
	border: 1px solid red;
	border-radius: 3px;
	color: white;
	padding: 5px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

.auth-form .form-actions button:hover {
	cursor: pointer;
	background-color: rgb(219, 40, 40);
}